global:
  scrape_interval:     15s
  evaluation_interval: 15s

# Alertmanager configuration
alerting:
  alertmanagers:
    - static_configs:
        - targets:
          - localhost:9093

rule_files:
  # - "first.rules"
  # - "second.rules"

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets: ['localhost:9090']

{% for node in monitor_nodes %}
  - job_name: {{ node.name }}
    static_configs:
      - targets: ['{{ node.addr }}']
{%endfor%}
